        body {
            font-family: Silkscreen, monospace;
            margin: 50px;
            background-color: #bde0fe;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .converterBox {
            max-width: 30rem;
            padding: 2rem;
            background: #feabd3;
            border-radius: 15px;
            border: .5rem solid #e4789f;
            box-shadow: 0 8px 8px #021b5471;
        }
        .converterBox:hover {
            scale: 1.02;
            transition: all 0.3s ease-in-out;
        }
        label {
            color: #a55cd0;
            font-weight: bold;
            display: block;
            margin-top: .5rem;
        }
        input {
            width: 100%;
            padding: 8px;
            margin-top: 0.5rem;
            box-sizing: border-box;
            border: .3rem solid #a2d2ff;
            border-radius: 4px;
            font-family: Silkscreen, monospace;
            background-color: #e3f2ff;
        }
        input:hover {
            border-color: #cdb4db;
        }
        h2 {
            color: #a55cd0;
        }